@font-face {
    font-family: oneday;
    src: url(../fonts/ONEDAY.otf);
}

@font-face {
    font-family: myriad-pro;
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: myriad-pro;
}



.header {
    padding: 20px;
    background-color: #F2F2F3;
}

.header .nav-bar {
    text-align: center;
}

.header ul li {
    display: inline;
}

.header h3 {
    font-family: oneday;
}

.lead-in .intro {
    float: left;
    width: 40%;
}

.lead-in .latest-videos {
    float: right;
    width: 60%;
}

/* Clear floats after the columns */
.lead-in:after {
    content: "";
    display: table;
    clear: both;
}

.lead-in .intro h3 {
    font-family: oneday;
}



/*Slider demo*/
.carousel-wrap {
    width: 90%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -15px;
}

.owl-nav .owl-next {
    right: -15px;
}


/* owl nav */
.owl-prev span, .owl-next span {
    color: #FFF;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #8199A3;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}

.owl-prev {
    left: 7px;
}

.owl-next {
    right: 7px;
}



/*End slider*/

/*Lead-in section*/

.lead-in {
    margin-top: 20px;
    padding: 30px;
}

.lead-in .intro {
    padding: 20px;
    max-width: 37%;
    background-color: #F4F3F8;
}

.lead-in .intro p {
    max-width: 60%;
    margin-top: 20px;
}

.lead-in .latest-videos {
    max-width: 58%;
}

.lead-in .latest-videos span {
    font-family: myriad-pro;
}

.lead-in .latest-videos hr {
    margin-top: 10px;
    width: 90%;
}

.lead-in .latest-videos .slider-container {
    margin-top: 20px;
}


/*Courses section*/

.courses {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.all-topics-container {

}

.topic {
    float: left;
    width: 30%;
}

/* Clear floats after the columns */
.courses:after {
    content: "";
    display: table;
    clear: both;
}

.courses .topic .topic-head .topic-title {
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.courses .topic .topic-head img {
    max-width: 800%;
}

.courses .topic .course-list .course img {
    max-width: 80%;
}

.courses .topic .course-list .course .course-image-container {
    float: left;
    width: 30%;
}

.courses .topic .course-list .course .course-title-container {
    float: right;
    width: 70%;
}

/* Clear floats after the columns */
.courses .topic .course-list .course:after {
    content: "";
    display: table;
    clear: both;
}