@font-face {
    font-family: oneday;
    src: url(../fonts/ONEDAY.otf);
}

@font-face {
    font-family: myriad-pro;
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}

/* reset */
body {
    margin: 0;
    font-family: myriad-pro;
    font-size: 1.2em;
    color: #3f392c;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0a5799;
}
/* END reset */
.container {
    max-width: 1170px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.2);
}

.hidden {
    display: none;
}

/* header */
header {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    margin: 0;
    padding: 25px 0;
    font-family: oneday;
}

header h1 span {
    color: #0a5799;
}

header nav {
    text-align: center;
}

header nav a {
    display: inline-block;
    padding: 15px 0;
    padding-left: 25px;
}

nav a.active {
    color: #0a5799;
}

#hamburger {
    text-align: right;
    cursor: pointer;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: #3f392c;
    margin: 6px 0;
}

#nav-mobile nav {
    width: 60%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav-mobile a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    transition: padding 0.5s;
}

#nav-mobile a:hover {
    padding-left: 25px;
}

/* END header */

/* ========== reponsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 85%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    /* nav */
    header nav {
        display: none;
    }

    header h1 {
        display: inline-block;
        width: 90%;
        text-align: center;
    }
    #hamburger {
        display: inline-block;
    }


    /* END nav */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* =============== END responsive */


/* Intro section */

#intro {

    /*divide 2 columns equal*/
    display: grid;
    grid-template-columns: 1fr 1fr;


    margin-top: 20px;
}

#intro #short-intro {


    padding: 20px 20px;
}

#intro #latest-videos {



}

#intro #short-intro h2 {
    font-family: oneday;
}

#intro #short-intro h2 span {
    color: #0a5799;
}

#intro #short-intro #intro-content {
    background-color: #F4F3F8;
    padding: 5px 20px;
    min-height: 300px;
}

#intro #latest-videos {
    padding: 20px 20px;
}

/*.slider-container {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
/*}*/


/* video carousel */


.main-content {
    position: relative;
}
.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}
.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}
.main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
}
.main-content .owl-theme .custom-nav .owl-next {
    right: 0;
}




/* END video carousel*/

.carousel {
    margin-top: 0;
    padding-top: 0;
    max-height: 200px;
    /*max-width: 500px;*/
}

/*.next-button-div {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 41%;*/
/*}*/


/* END Intro section */